*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .2px;
}

:root{
    --carFont : #67676D;
    --backGround: #F9F9F9;
    --hBorder: #15151E;
}

#driversContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 2% 6%;
}

.driverCard{
    border: 2px solid black;
    width: 100%;
    height: 310px;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    border-left: none;
    border-radius: 0 10px;
    margin: 20px 5px 0 5px;
    gap: 5px;
    width: 24%;
}

.driverCard:hover{
    scale: 1.03;
    cursor:  pointer;
}


#driversContainer div{
    gap: 10px;
}

.lowerDriverCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 10px;
    position: relative;
    height: 100%;
}


.lowerDriverCard img{
    object-fit: contain;
}

.carAndNumber{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.carAndNumber img{
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 5;
}
.driverNumber{
    height: 57px;
    bottom: 10px;
    width: 90px;
    position: absolute;
    z-index: 2;
}

.driverNumber img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.driverCar{
    position: absolute;
    z-index: 2;
    width:150px;
    color: var(--carFont);
    font-family: 'f1';
    font-size: 14px;
}

.nameFlagCol{
    display: flex;
    align-items:center;
    border-bottom: 1px solid var(--carFont);
    justify-content: space-between;
    padding: 0 5px;
    margin: 0 10px 10px 10px;
}

.nameAndFlag{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.driverFlag{
    align-items: center;
    align-content: center;
    height: 31px;
    width: 46px;
    border-radius: 5px;
}

.driverFlag img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.driverImage{
    height: 100%;
    width: 192px;
}

.driverImage img{
    height: 100%;
    width: 100%;
}

.driverHeading{
    font-size: 4rem;
    border-radius: 0 20px;
    border: 10px solid black;
    border-bottom: none;
    border-left: none;
    margin: 2% 6%;
    font-family: 'f2';

}

.texts{
    background-color: var(--backGround);
    margin: 2% 6%;
}

.texts p{
    padding: 3% 0;
    max-width: 600px;
    font-family: 'f1';
    font-size: 12px;
    line-height: 1.3rem;
    word-spacing: 3px;
}

.clubText{
    font-family: 'f2';
}



.driverName{
    font-family: 'f1';
    /* font-weight: 100; */
    font-size: 13px;
}

/* back image */
.shops{
    display: flex;
    justify-content: space-between;
}

.back{
    position: absolute;
    height: 328px;
    width: 40vw;
    background-image: url(https://www.formula1.com/etc/designs/fom-website/images/patterns/white-stripe-x2.png);
    background-size: 15px;
    background-repeat: repeat;
}


.shop div{
    height: 201px;
    /* width: 480px; */
    padding-top: 10px;
    padding-right: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    letter-spacing: .2px;
    border-top-right-radius: 10px;
    color: #fff;
}

.shop div h2{
    font-family: 'f2';
    font-size: 23px;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 25px;
    letter-spacing: 1px;
    position: relative;
}

.shop div button{
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    background-color:#e10600;
    border: none;
    height: 38px;
    border-radius: 5px;
    width: 120px;
    font-size: 13px;
    letter-spacing: 1px;
    padding-bottom: 6px;
    padding-left: 5px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

.shop div button:hover{
    background-color: #fff;
    color: black;
    border: 2px solid #e10600;
    transition: all 0.5s ease;
}

.shop div button:hover .i{
    color: #e10600;
}

._img1{
    background-image: url("../Assets/Backgroung.avif");
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}



.imageDiv img{
    height: 100px;
    width: 100%;
}




@media screen and (max-width: 1360px) {
    .driverCard{
        width: 33%;
    }
  }

@media screen and (max-width: 1020px) {
    .driverCard{
        width: 45%;
    }
  }

@media screen and (max-width: 770px) {
    .driverCard{
        width: 100%;
    }

    h1{
        font-size: 2.5rem;
    }

    .texts p{
        max-width: none;
    }
  }